.tools__container {
    padding: 110px 0 90px 0;
    background-image: url("../img/backgrounds/tools-bg.png");
    background-position: center bottom;
    background-size: 100%;
    background-repeat: no-repeat;

    @include media-table {
        padding: 50px 0 63px 0;
    }
}

.tools__title {
    max-width: 462px;
    margin: auto;
    text-align: center;
    margin-bottom: 70px;
}

.tools__button {
    margin-top: 60px;
    text-align: center;

    @include media-mobile {
        margin-top: 0;
    }
}


//Tool Block

.tool-wrapper {
    @include media-table {
        flex-wrap: wrap;

        >.tool {
            flex-basis: 43%;
        }
    }

    @include media-mobile {
        >.tool {
            flex-basis: 100%;
            margin-bottom: 47px;
        }
    }
}

.tool {
    text-align: center;
}

.tool__icon {
    margin-bottom: 30px;
}

.tool__title {
    margin: 0 0 16px;
}