.footer {
    padding: 60px 0 70px;

    @include media-mobile {
        padding: 31px 0;
    }
}

.footer__container {
    display: flex;

    @include media-table {
        flex-direction: column;
    }
}

.footer-navigation {
    flex-grow: 1;
    padding-left: 152px;

    @include media-table {
        padding-left: 0;
        margin-top: 34px;
    }

    @include media-mobile {
        flex-direction: column;
    }
}

.footer-navigation__title {
    margin: 0 0 15px;
}

.footer-navigation__links {
    @extend %font-add;

    a {
        color: $color-text;
        text-decoration: none;
        @include font(1.6rem, 3.5rem, normal);
        @extend %transition;

        &:hover {
            color: $color-primary;
        }
    }
}